{% extends 'base.html' %}
{% block content %}

<div class="page-title-container">
    <h1 class="page-title">HOMEPAGE</h1>
    <h2>Remainder: <span style="color:{{ budget_color }};">${{ remainder }}</span></h2>
    <p>Welcome, {{  user.first_name }}</p>
</div>

<div class="all-categories-container">
    <div class="all-categories-grid" style="grid-template-rows: 200px;">

        {% for category in categories %}
        <div class="category-container" style="background-color:{{ category.color }};">
            <h1 class="category-title">{{ category.title }}</h1>
            {% for k, v in categories_dict.items() %}
            {% if category.category_id == k  and v >= 1 %}
            <p class="category-amount" style="color:green">${{ v }} left</p>
            {% elif category.category_id == k and v < 1 %}
            <p class="category-amount" style="color:red">${{ v }} left</p>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

    </div>  
</div><br><br><br>

<div class="all-categories-container">
    <div class="bills-container" style="background-color:{{ bill_color }};">
        <h1 class="category-title">Bills</h1>
        <div class="bills-list">
            {% for bill in bills %}
            {% if bill.payed == False %}
            <p>{{ bill.name }}: ${{ bill.amount }}</p>
            {% else %}
            <p style="text-decoration: line-through;">{{ bill.name }}: ${{ bill.amount }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}