{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert alert-{{ category }}">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {% endfor %}
  {% endif %}
 {% endwith %}

<div class="page-title-container">
    <h1 class="page-title">WELCOME TO INBUDGET</h1>
</div>


<div class="add-expense-container-container">
    <div class="add-expense-container">
      <h1>LOGIN</h1>
      <form class="expense-form" method="post">
          <input class="field-input" type="text" name="email" placeholder="Email"><br>
          <input class="field-input" type="password" name="password" placeholder="Password"><br><br>
          <input class="expense-button" type="submit" value="Log In">
      </form>
    </div>
   </div>

{% endblock %}