{% extends 'base.html' %}

{% block content %}
<div class="page-title-container">
    <h1 class="page-title">MY BUDGET</h1>
    <h1>Budget: <span style="color: green;">$2,200</span></h1>
    <h2>Remainder: <span style="color:green;">$200</span></h2>
</div>

<div class="all-categories-container">
    <div class="mybudget-container">

        {% for category in categories %}
        <form class="mybudget-category" style="background-color: {{ category.color }};" method="post">
            <input type="text" class="category-input-box" value="{{ category.title }}" placeholder="{{ category.title }}" name="category">
            $<input class="mybudget-amount" type="number" value="{{ category.limit }}" name="amount">
            <input class="category-color" type="color" value="{{ category.color }}" name="color">
            <input class="mybudget-submit-button" type="submit" id="mybudget-submit" value="Update">
            <input style="display:none;" value="{{ category.category_id }}" name="id">
            <button class="category-delete">Delete</button>
        </form><br>
        {% endfor %}

        <div class="mybudget-category-new" style="background-color: rgb(196, 190, 190);">
            <input type="text" class="category-input-box-new" placeholder="New Category" name="new_category">
            $<input class="mybudget-amount-new" type="number" placeholder="Budget">
            <input class="category-color" type="color" value="" name="color">
            <input class="mybudget-submit-new" type="submit" id="mybudget-submit" value="+">

        </div><br>

    </div>
</div>

{% endblock %}