{% extends 'base.html' %}

{% block content %}

<form method="post" action="/update_budget" class="page-title-container">
    <h1 class="page-title">MY BUDGET</h1>
    <h1>Budget:</h1>
    <div class="budget-input-box-container" >
        $<input type="number" name="new_budget" value="{{ user.budget }}"  class="budget-input-box" />
        <input class="budget-update-button" type="submit" value="Update">
    </div>
    <h2>Left To Distribute: <span style="color:{{ budget_color }};">${{ remainder }}</span></h2>
</form>

<div class="all-categories-container">
    <div class="mybudget-container">

        {% for category in categories %}
        <form class="mybudget-category" style="background-color: {{ category.color }};" method="post">
            <input type="text" class="category-input-box" value="{{ category.title }}" placeholder="{{ category.title }}" name="title">
            $<input class="mybudget-amount" type="text" value="{{ category.limit }}" name="limit">
            <input class="category-color" type="color" value="{{ category.color }}" name="color">
            <input class="mybudget-submit-button" type="submit" id="mybudget-submit" value="Update">
            <input style="display:none;" value="{{ category.category_id }}" name="id">
            <a class="category-delete" href="/delete_category/{{ category.category_id }}">Delete</a>
        </form><br>
        {% endfor %}

        <form action="/new_category" class="mybudget-category-new" style="background-color: rgb(196, 190, 190);", method="POST">
            <input type="text" class="category-input-box-new" placeholder="New Category" name="new_title">
            $<input class="mybudget-amount-new" type="text" placeholder="Limit" name="new_limit">
            <input class="category-color" type="color" value="" name="new_color" name="new_color">
            <input class="mybudget-submit-new" type="submit" id="mybudget-submit" value="+">
        </form>

    </div>
</div><br>

<div class="all-categories-container">
    <div class="mybudget-bills-container" style="background-color: {{ bill_color }};">
        <div class="mybudget-bills">
            <h1 class="category-title">MONTHLY BILLS</h1>

            {% for bill in bills %}
            <form action="/update_bill" method="POST" class="mybudget-category" style="background-color: rgb(192, 127, 29);">
                <input type="text" class="category-input-box" value="{{ bill.name }}" name="bill_name">
                $<input class="mybudget-amount" type="number" value="{{ bill.amount }}" name="bill_amount">
                <input class="mybudget-submit-button" type="submit" id="mybudget-submit" value="Update">
                <input style="display:none;" value="{{ bill.bill_id }}" name="bill_id">
                <a class="category-delete" href="/delete_bill/{{ bill.bill_id }}">Delete</a>
            </form><br>
            {% endfor %}

            
        <form action="/new_bill" class="mybudget-category-new" style="background-color: rgb(223, 172, 114);", method="POST">
            <input type="text" class="category-input-box-new" placeholder="New Category" name="new_bill_name" style="border:0px solid transparent">
            $<input class="mybudget-amount-new" type="number" placeholder="Limit" name="new_bill_amount" style="border:0px solid transparent">
            <input class="mybudget-submit-new" type="submit" id="mybudget-submit" value="+">
        </form>
        </div>
    </div>
</div>

{% endblock %}