{% extends 'base.html' %}
{% block content %}

<div class="page-title-container">
    <h1 class="page-title">SPENDING</h1>
    <h2>Remainder: <span style="color:{{ budget_color }};">${{ remainder }}</span></h2>
</div>

<div class="all-categories-container">
    <div clas="expenses-container-container">

        <div style="background-color:rgb(124, 124, 124);" class="expenses-container">
            <p style="font-weight:bold" class="expense">CATEGORY</p>
            <p class="expense">NAME</p>
            <p class="expense">LOCATION</p>
            <p class="expense">AMOUNT</p>
            <p class="expense">DATE</p>
        </div>

        {% for k, v in expense_dict.items() %}
        <div class="expenses-container">
            <p  style="background-color: {{ v['color'] }};" class="expense">{{ v["category"] }}</p>
            <p class="expense">{{ v["name"] }}</p>
            <p class="expense">{{ v["location"] }}</p>
            <p class="expense">${{ v["amount"] }}</p>
            <p class="expense">{{ v["date"] }}</p>
            <a class="expense-delete" href="/delete_expense/{{ k }}">X</a>
        </div>
        {% endfor %}

    </div>
</div><br>

<div class="all-categories-container">
    <div class="mybudget-bills-container" style="background-color:{{ bill_color }}">
        <h1 class="category-title">MONTHLY BILLS</h1>
        {% for bill in bills %}
        <form class="expenses-container" style="background-color: rgb(192, 127, 29);", method="POST">
            <p class="bill">{{ bill.name }}</p>
            <p class="bill">${{ bill.amount }}</p>
            {% if bill.payed == True %}
            <p class="bill" style="text-align: left">Payed</p>
            <input class="bill-checkbox" type="checkbox" id="bill-checkbox" name="payed" checked="checked">
            {% else %}
            <p class="bill" style="text-align: left">Unpayed</p>
            <input class="bill-checkbox" type="checkbox" id="bill-checkbox" name="payed">
            {% endif %}
            <input class="mybudget-submit-button" type="submit" id="mybudget-submit" value="Update">
            <input style="display:none;" value="{{ bill.bill_id }}" name="bill_id">
            <a class="category-delete" href="/delete_bill/{{ bill.bill_id }}">Delete</a>
        </form>
        {% endfor %}

    </div>
   </div>
{% endblock %}