.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 25; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 33px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 20;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    z-index: 4;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
/* END OF SIDEBAR */



/* APP */
body {
  background-color: rgb(125, 184, 184);
}

.page-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-title {
  color: black;
  font-size: 40px;
}

/* HOMEPAGE */
.all-categories-container {
  display: flex;
  justify-content: center;
}

.all-categories-grid {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 240px 240px 240px;
  column-gap: 50px;
  row-gap: 50px;
}

.category-container {
  width: 250px;
  border: 2px solid black;
  border-radius: 10%;
}

.category-title {
  color: black;
  -webkit-text-stroke: 0.5px white;
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  opacity: .6;
}

.category-amount {
  text-align: center;
  color: green;
  font-size: 35px;
  font-family: fantasy;
  -webkit-text-stroke: 0.2px white;
}