.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 25; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 33px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 20;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    z-index: 4;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
/* END OF SIDEBAR */

/* FLASH */
.alert-danger {
  background-color: red;
  color: white;
}

.alert-info {
  background-color: yellow;
  color: black;
}


/* APP */
body {
  background-color: rgb(125, 184, 184);
}

.page-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-title {
  color: black;
  font-size: 40px;
}

/* HOMEPAGE */
.all-categories-container {
  display: flex;
  justify-content: center;
}

.all-categories-grid {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  column-gap: 50px;
  row-gap: 50px;
}

.category-container {
  width: 250px;
  border: 2px solid black;
  border-radius: 10%;
}

.category-title {
  color: black;
  -webkit-text-stroke: 0.3px white;
  text-align: center;
  font-family: fantasy;
  font-size:240%;
}

.category-amount {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  font-family: fantasy;
  -webkit-text-stroke: 0.1px white;
}

.bills-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: auto;
  border: 2px solid black;
  border-radius: 10%;
}

.bills-list {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 290px 290px;
  font-size: 30px;
}

/* ADD EXPENSE */
.add-expense-container-container {
  display: flex;
  justify-content: center;
}

.add-expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20px;
  padding: 20px;
  width: 650px;
  height: 400px;
  border: 4px solid black;
  background-color: rgba(197, 193, 193, 0.52);
}

.expense-form {
  position: relative;
  left: 5px;
  top: 18px;
}

.expense-button {
  background-color: rgb(155, 23, 23);
  border: 2px solid rgb(61, 4, 4);
  width: 110px;
  height: 32px;
}

.expense-button:hover {
  border: 2px solid red;
  color: red;
  cursor: pointer;
}

.field-input {
  background-color: rgb(186, 208, 253);
  border: 2px solid rgb(26, 26, 88);
  border-radius: 8%;
  width: 180px;
  height: 26px;
}


/* MY BUDGET */
.budget-input-box-container {
  width: 300px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
  color: green;
  font-weight: 600;
  border: 6px double black;
  display: flex;
}

.budget-input-box {
  width: 300px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
  color: green;
  font-weight: 600;
  flex-direction: row;
}

.budget-input-box:focus {
  outline: 0px solid transparent;
}

.budget-update-button {
  width: 300px;
  background-color: rgb(71, 192, 15);
  border: 3px solid black;
}

.budget-update-button:hover {
  border: 3px solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
  cursor: pointer;
}

.mybudget-container {
  width: 840px;
  height: auto;
  background-color: #818181;
  padding: 30px;
}

.mybudget-category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  padding: 1px;
  border: 2px solid black;
  border-radius: 4%;
  height: 110px;
  width: 830px;
}

.mybudget-amount {
  background-color: transparent;
  border: 0px;
  color: black;
  width: 150px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.mybudget-submit-button {
  background-color: rgb(71, 192, 15);
  border: 3px solid rgb(23, 83, 5);
  height: 70px;
  width: 70px;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}

.mybudget-submit-button:hover {
  border: 3px solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
  cursor: pointer;
}

.category-input-box {
  font-size: 30px;
  width: auto;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.category-color {
  height: 70px;
  cursor: pointer;
}

.category-color:hover {
  border: 3px solid rgb(21, 255, 0);
}

.category-delete {
  background-color: rgb(97, 94, 94);
  border: 3px solid rgb(0, 0, 0);
  height: 65px;
  width: 65px;
  text-decoration: none;
  line-height: 65px;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
}


.category-delete:hover {
  background-color: rgb(139, 136, 136);
  border: 3px solid rgb(255, 0, 0);
  height: 70px;
  color: red;
  cursor: pointer;
  font-style: italic;
}

.mybudget-category-new {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  padding: 1px;
  border: 2px dashed rgb(122, 122, 122);
  border-radius: 4%;
  height: 110px;
  width: 830px;
}

.category-input-box-new {
  font-size: 30px;
  width: auto;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  border: 1px dashed #C4BEBE;
}

.category-input-box-new::placeholder {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.category-input-box-new:hover {
  border: 1px dashed black;
}

.mybudget-amount-new {
  background-color: transparent;
  border: 0px;
  color: black;
  width: 150px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
  border: 1px dashed #C4BEBE;
}

.mybudget-amount-new::placeholder {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.mybudget-amount-new:hover {
  border: 1px dashed black;
}

.mybudget-submit-new {
  background-color: rgb(71, 192, 15);
  border: 3px solid rgb(23, 83, 5);
  height: 70px;
  width: 87px;
  font-size: 70px;
  padding: 0px;
  line-height: 70px;
}

.mybudget-submit-new:hover {
  background-color: rgb(71, 192, 15);
  border: 3px solid rgb(21, 255, 0);
  color: rgb(21, 255, 0);
  height: 70px;
  width: 87px;
  font-size: 70px;
  padding: 0px;
  line-height: 70px;
  cursor: pointer;
}

.mybudget-bills-container {
  width: 840px;
  height: auto;
  padding: 30px;
  border: 5px solid black;
}


/* SPENDING */

.expenses-container-container {
  width: 1000px;
  height: auto;
  background-color: #818181;
  padding: 30px;
}

.expenses-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: rgb(155, 155, 155);
  border: 2px solid black;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

}

.expense {
  border: 1px solid black;
  background-color: rgb(184, 184, 184);
  font-size: 21px;
  height:40px;
  padding: 10px;
  width: 150px;
  line-height: 40px;
}

.expense-delete {
  background-color: rgb(97, 94, 94);
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 30px;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.expense-delete:hover {
  background-color: rgb(139, 136, 136);
  border: 3px solid rgb(255, 0, 0);
  height: 50px;
  color: red;
  cursor: pointer;
}

.bill {
  border: 1px solid black;
  background-color: rgb(223, 172, 97);
  font-size: 21px;
  height:40px;
  padding: 10px;
  width: 150px;
  line-height: 40px;
}

.bill-checkbox {
  border: 1px solid black;
  background-color: rgb(223, 172, 97);
  font-size: 21px;
  height: 40px;
  padding: 10px;
  width: 44px;
  line-height: 40px;
  position: relative;
  left: -63px;
}